body {
    background-color: #D2E8FE;
    margin: 0;
    padding: 0;
}

.image {
    text-align: center;
    margin-top: 65%;
}

img {
    width: 60%;
}

/* .slide-in {
    animation: slide-in 0.5s ease forwards;
}

@keyframes slide-in{
    from{
        transform: translateX(100);
        visibility: visible;
    }
    to{
        transform: translateX(0%);
    }
} */